/* #para{
    background-color: aqua;
}


.para
{
    background-color: blue;
} */


/* p{
    background-color: brown;
} */

/* #para1,.para,span
{
    background-color: yellowgreen;
} */

*
/* {
    border: 1px solid black;
} */